<div class="wrapper-navigate">
  <button class="btn"
          *ngIf="isInitStaite "
          (click)="startGame()">
   start game
  </button>

  <button class="btn"
          *ngIf="stopCard "
          (click)=reset()>
   reset
  </button>
</div>

<div class="wrapper-result">
  {{ result }}
</div>

<div class="wrapper-table">
  <div class="player"
       *ngFor="let player of playersArray ">

    <div>
      {{player.name}}
    </div>

    <div>
      sum in hand
      <span  *ngIf="(player.id === idFromLocalStorage) || chekHowWin" >
        {{player.sumCards}}
      </span>
    </div>
    
    <div>
       card
      <span *ngFor="let card of player.cards">
   
          ⎣<span  *ngIf="(player.id === idFromLocalStorage) || chekHowWin">
            {{ card }}
          </span>⎤
         
      </span>
      <br>
    </div>

    <div *ngIf="player.id === idFromLocalStorage && !player.stopCard">
      <button class="btn"
              (click)="takeCard()"
              [disabled]="!player.myTurn">
        Take card
      </button>
      <br>

      <button class="btn"
              (click)="stopTakeCard()"
              [disabled]="!player.myTurn">
        Stop take card
      </button>
      <br>
    </div>
  </div>
</div>