.bender {
  background: rgb(7, 190, 7); /* Цвет фона */
  width: 1200px; /* Ширина блока */
  height: 800px; /*высота блока*/
  padding: 10px; /* Поля */
  margin-top: 0; /* Отступ сверху */
  border: 2px solid #000; /* Параметры рамки */
  box-sizing: border-box; /* Ширина блока с полями */
  background-image: url(../../assets/bender.png);
  background-repeat: no-repeat;
  background-position:0px 165px;
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 365px;
  margin-top: 250px;
  font-weight: bold;
  font-size: 24px;
}
