.bender {
  background: rgb(7, 190, 7);
  width: 1200px;
  height: 800px;
  padding: 10px;
  margin-top: 0;
  border: 2px solid #000;
  box-sizing: border-box;
  background-image: url(../../../assets/bender.png);
  background-repeat: no-repeat;
  background-position:0 165px;
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 365px;
  margin-top: 250px;
  font-weight: bold;
  font-size: 24px;
}
