
<div class="wrapper">
  <a
    routerLink="/menu">return to main menu
  </a>

  <button (click)="addRoom()">
    Add rooms
  </button>
  <input type="text" [(ngModel)]="player.name">
</div>

<div class="rooms">

  <div class="room-container"
    *ngFor="let room of rooms" >

    <div class="room">


      <div>
        Table# {{room.id}}
      </div>

    

      <button (click)="deleteRoom(room.id)">
        del
      </button>
      <br>

      <button [routerLink]="room.id" >
        Enter in room
      </button>

      <button  (click)="addPlayers(room.id)" >
        add player
      </button>
    </div>
  </div>
</div>
