<section class="bender">
  <button class="start-game" (click)="startGame()">Start Game</button>

  <div *ngIf=toggle
       class="control-btn">

    <button class="take-mor-player"
            (click)="takeCard()">
      I'll take more
    </button>

    <button class="show-the-cards"
            (click)="compareCard()">
      show the cards
    </button>
  </div>
  
<div class="score">

  <div class="player-carts">
    player cards: {{ playerCarts }}
  </div>

  <div class="all-point-player">
    all point player: {{ allPointPlayer }}
  </div>

  <div class="dealer-carts">
    dealer carts: {{ dealerCarts }}
  </div>

  <div class="all-point-dealer">
    all point dealer: {{ allPointDealer }}
  </div>

</div>


</section>

<div class="result">
  {{ result }}
</div>

